<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <% include navbar %>
    
    <section class="container navbar-margin">
        <h1>Biblioteca</h1>
        <hr /><br />

        <article>
            <form class="form-group" action="/pesquisar" method="get">
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Por autor:</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Por gênero:</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Por qtd páginas:</label>
                                <input class="form-control" type="text">
                            </div>
                            <div class="col-md-6">
                                <label>Por status:</label>
                                <input class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-success" type="submit" value="Pesquisar">
                    </div>
                </div>
            </form>
        </article>

        <article class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Gênero</th>
                        <th>Editora</th>
                        <th style="min-width: 500px;">Sinopse</th>
                        <th>Páginas</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++){ %>
                        <tr>
                            <td><%= data[i].title %></td>
                            <td><%= data[i].author %></td>
                            <td><%= data[i].genre %></td>
                            <td><%= data[i].publisher %></td>
                            <td><%= data[i].synopsis %></td>
                            <td><%= data[i].pages %></td>
                            <td><%= data[i].status %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </article>
    </section>

    <% include footer %>
</body>
</html>