<!DOCTYPE html>
<html lang="pt-br">
<% include header %>
<body>
    <% include navbar %>
    
    <section class="container navbar-margin">
        <h1>Biblioteca</h1>
        <hr /><br />

        <article>
            <form class="form-group" action="/pesquisar" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <label for="author">Por autor:</label>
                        <input class="form-control" name="author" id="author" type="text" placeholder="Nome do autor" />
                    </div>
                    <div class="col-md-6">
                        <label for="genre">Por gênero:</label>
                        <select class="form-control" name="genre" id="genre">
                            <option value="">Escolha o gênero</option>
                            <option value="Aventura">Aventura</option>
                            <option value="Biográfico">Biográfico</option>
                            <option value="Chick-Lit e Lad-Lit">Chick-Lit e Lad-Lit</option>
                            <option value="Clássico">Clássico</option>
                            <option value="Conto e Crônica">Conto e Crônica</option>
                            <option value="Distopia">Distopia</option>
                            <option value="Epistolar">Epistolar</option>
                            <option value="Fantasia">Fantasia</option>
                            <option value="Ficção científica">Ficção científica</option>
                            <option value="Graphic Novel">Graphic Novel</option>
                            <option value="História em Quadrinhos">História em Quadrinhos</option>
                            <option value="Histórico">Histórico</option>
                            <option value="Infantil e Infanto-Juvenil">Infantil e Infanto-Juvenil</option>
                            <option value="New Adult">New Adult</option>
                            <option value="Poesia e Prosa Poética">Poesia e Prosa Poética</option>
                            <option value="Sobrenatural">Sobrenatural</option>
                            <option value="Terror e Thriller">Terror e Thriller</option>
                            <option value="Young Adult">Young Adult</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="pages">Por quantidade de páginas:</label>
                        <select class="form-control" name="pages" id="pages">
                            <option value="">Escolha quantas páginas </option>
                            <option value="Menos de 50">Menos de 50</option>
                            <option value="51 à 100">51 à 100</option>
                            <option value="101 à 150">101 à 150</option>
                            <option value="151 à 200">151 à 200</option>
                            <option value="201 à 250">201 à 250</option>
                            <option value="251 à 300">251 à 300</option>
                            <option value="301 à 350">301 à 350</option>
                            <option value="351 à 400">351 à 400</option>
                            <option value="401 à 450">401 à 450</option>
                            <option value="451 à 500">451 à 500</option>
                            <option value="Mais de 500">Mais de 500</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="status">Por status:</label>
                        <select class="form-control" name="status" id="status">
                            <option value="">Escolha o status</option>
                            <option value="Não lido">Não lido</option>
                            <option value="Lendo">Lendo</option>
                            <option value="Lido">Lido</option>
                            <option value="Abandonado">Abandonado</option>
                        </select>
                    </div>
                </div>
            </form>
        </article>

        <article class="row">
            <div class="col-md-6 d-flex justify-content-center align-items-center arcticle-margin">
                <input class="btn btn-success" type="submit" value="Pesquisar Livros">
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center arcticle-margin">
                <input class="btn btn-info" type="submit" formaction="/alterar_livro" formmethod="get" value="Alterar ou Deletar Livros">
            </div>
        </article>

        <article class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>Gênero</th>
                        <th>Editora</th>
                        <th style="min-width: 400px">Sinopse</th>
                        <th>Páginas</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < data.length; i++){ %>
                        <tr>
                            <td><%= data[i].title %></td>
                            <td><%= data[i].author %></td>
                            <td><%= data[i].genre %></td>
                            <td><%= data[i].publisher %></td>
                            <td><%= data[i].synopsis %></td>
                            <td><%= data[i].pages %></td>
                            <td><%= data[i].status %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </article>
    </section>

    <% include footer %>
</body>
</html>